.navbar {
  width: 100%;
  height: 100px;
  background-image: linear-gradient(rgb(33, 18, 99), rgb(10, 125, 192));
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;

}
.li-bg {
  background-color: rgba(141, 46, 46, 0.5);
}
.sub-navbar {
  width: 100%;
  height: 80px;
  background-image: linear-gradient(rgb(10, 125, 192),rgb(33, 18, 99) );
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: white;

}
h5 {
  position: aboslute;
  left: 50%;
}

.header-nav {
  position: absolute;
    bottom:0;
    right:10%;
}

.footer-nav {
  position: absolute;
  right:10%;
   
}

.footer {
  width: 100%;
  height: 50px;
  color: aliceblue;
  background-image: linear-gradient( rgb(10, 125, 192),rgb(33, 18, 99));
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.content {
margin: 100px;
margin-top: 25px;
margin-bottom: 70px;
}

.banner {
  padding-top:220px;
}


.nav-link {color: white;}
.nav-link:hover {color: rgb(216, 216, 216);}

ul {
  list-style-type: none;
}

.taisolbutt {
  background: url(./assets/images/bullet.jpg) ;
  background-repeat: repeat-y;

}