<!-- <div class="navbar">

<div class="btn-group" role="group" aria-label="Basic example" style="float:right;padding-right:300px;">
  <button type="button" class="btn btn-link"><a class="nav-linkOri" aria-current="page" href="https://www.taisol.com/?lang=zh">首頁</a>
  </button>
  <button type="button" class="btn btn-link"><a class="nav-linkOri dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    關於泰碩
  </a></button>
  <button type="button" class="btn btn-link">Right</button>
  <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Action
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a>
  </div>
</div>

</div> -->

  <!-- <div class="row">
    <div class="col-2 navbar" >
      <a style="width: 400px;" class="navbar-brand" href="https://www.taisol.com"><img src='./assets/images/logo.png' /></a>
    

    </div>
      <div class="col-10 navbar">

     

          <div class="btn-group" style="float: right" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-secondary">1</button>
            <button type="button" class="btn btn-secondary">2</button>
          
            <div class="btn-group" role="group">
              <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="#">Dropdown link</a>
                <a class="dropdown-item" href="#">Dropdown link</a>
              </div>
            </div>
          </div>



    </div>
  </div> -->
<!-- 
  <div class="navbar fixedTopHeader" style="display:inline-block">

      <a style="width: 400px;" class="navbar-brand" href="https://www.taisol.com"><img src='./assets/images/logo.png' /></a>
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
    
        <h3 style="color: white; "> 公司治理<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> </h3>
     

        <ul class="navbar-nav me-auto mb-2 mb-lg-0 header-nav list-group list-group-horizontal">
          
          <li> 
          <a class="nav-link" aria-current="page" href="https://www.taisol.com/?lang=zh">首頁</a>

          </li>
          <li class="nav-item dropdown">

            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              關於泰碩
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="https://www.taisol.com/about/about-taisol?lang=zh">公司簡介</a></li>
              <li><a class="dropdown-item" href="https://www.taisol.com/about/global-location?lang=zh">據點分佈圖</a></li>
              <li><a class="dropdown-item" href="https://www.taisol.com/about/company-yearbook?lang=zh">大事年鑑</a></li>
              <li><a class="dropdown-item" href="https://www.taisol.com/about/patents/2018?lang=zh">鄧白氏專區</a></li>
              <li><a class="dropdown-item" href="https://www.taisol.com/about/china-factory?lang=zh">品質政策</a></li>
              <li><a class="dropdown-item" href="https://www.taisol.com/about/company-location?lang=zh">公司位置圖</a></li>
            </ul>
          </li>
        </ul>

    </div>
  </div> -->



<nav class="navbar navbar-expand-sm navbar-dark fixedTopHeader" >
     
    <a class="navbar-brand" href="https://www.taisol.com"><img src='./assets/images/logo.png' /></a>
    <h3 style="color: white; "> <span>&nbsp;&nbsp;</span>公司治理 </h3>

   
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 header-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="https://www.taisol.com/?lang=zh">首頁</a>
        </li>
        <li class="nav-item dropdown">

          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            關於泰碩
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="https://www.taisol.com/about/about-taisol?lang=zh">公司簡介</a></li>
            <li><a class="dropdown-item" href="https://www.taisol.com/about/global-location?lang=zh">據點分佈圖</a></li>
            <li><a class="dropdown-item" href="https://www.taisol.com/about/company-yearbook?lang=zh">大事年鑑</a></li>
            <li><a class="dropdown-item" href="https://www.taisol.com/about/patents/2018?lang=zh">鄧白氏專區</a></li>
            <li><a class="dropdown-item" href="https://www.taisol.com/about/china-factory?lang=zh">品質政策</a></li>
            <li><a class="dropdown-item" href="https://www.taisol.com/about/company-location?lang=zh">公司位置圖</a></li>
          </ul>
        </li>
 
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-expanded="false">
            最新消息
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
            <li><a class="dropdown-item" href="https://www.taisol.com/news?lang=zh">新聞中心</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-expanded="false">
            產品訊息
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
            <li><a class="dropdown-item" href="https://www.taisol.com/product/product-list/1?lang=zh">散熱管理解決方案</a></li>
            <li><a class="dropdown-item" href="https://www.taisol.com/product/product-list/1/37?lang=zh">消費性電子產品</a></li>
            <li><a class="dropdown-item" href="https://www.taisol.com/product/product-list/1/38?lang=zh">企業運算系統</a></li>
            <li><a class="dropdown-item" href="https://www.taisol.com/product/product-list/1/39?lang=zh">LED照明</a></li>
            <li><a class="dropdown-item" href="https://www.taisol.com/product/product-list/1/40?lang=zh">無線通訊系統</a></li>
            <li><a class="dropdown-item" href="https://www.taisol.com/product/product-list/1/41?lang=zh">工業應用</a></li>
            <li><a class="dropdown-item" href="https://www.taisol.com/product/product-list/1/42?lang=zh">散熱技術</a></li>
          </ul>
        </li>
   
        <li class="nav-item dropdown">
          <a   @mouseleave="mouseLeave('navbarDropdown4')" @mouseover="mouseOver('navbarDropdown4')" ref="navbarDropdown4"  class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-expanded="false" >
            利害關係人專區
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown4" ref="navbarDropdown4-1">
            <li><a class="dropdown-item" href="https://www.taisol.com/investor/investor-news?lang=zh">最新消息</a></li>
            <li><a class="dropdown-item" href="https://www.taisol.com/investor/corporate-info?lang=zh">公司基本資料</a></li>
            <li><a class="dropdown-item" href="https://www.taisol.com/investor/monthly-income?lang=zh">財務資訊</a></li>
            <li><a class="dropdown-item" href="https://www.taisol.com/investor/shareholder?lang=zh">股東關係人專區</a></li>
            <li><a class="dropdown-item" href="https://www.taisol.com/investor/foundation?lang=zh">公司治理</a></li>
            <li><a class="dropdown-item" href="https://www.taisol.com/investor/major-info?lang=zh">公司重大訊息</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="https://www.taisol.com/contact/contact-us?lang=zh">聯絡我們 </a>
        </li>

      </ul>
    </div>
 
</nav> 



<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>

  </div>
</nav> -->




<!-- try again-->

