.navbar {
  width: 100%;
  height: 100px;
  /* background-image: linear-gradient(rgb(33, 18, 99), rgb(10, 125, 192)); */
  background-image: linear-gradient(rgb(10, 125, 192), rgb(32, 86, 193));
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;

}
.li-bg {
  background-color: rgba(141, 46, 46, 0.5);
}
.sub-navbar {

  width: 100%;
  height: 80px;

  /* background-image: linear-gradient(rgb(10, 125, 192),rgb(33, 18, 99) ); */
  background-image: linear-gradient(rgb(32, 86, 193), rgb(33, 18, 99));
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: white;
  min-width: 1576px;
  z-index: 999;

}
@media screen and (max-width: 1576) {
  .sub-navbar {
    min-width: 1576;
    z-index: 999;
  }
}


h5 {
  position: aboslute;
  left: 50%;
}

.header-nav {
  position: absolute;
    bottom:0;
    right:10%;
}

.footer-nav {
  /* position: absolute; */
  /* right:10%; */
  float: right;
   
}

.footer {
  width: 100%;
  height: 40px;
  color: aliceblue;
  background-image: linear-gradient( rgb(10, 125, 192),rgb(33, 18, 99));
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}




.headerTopButton{
  background: transparent;
  color:grey;
}
.content {
margin: 100px;
margin-top: 25px;
margin-bottom: 70px;
}

.banner {
  padding-top:220px;
}

.fixedTopHeader {
  min-width: 1576px;

}
@media screen and (max-width: 1576) {
  .fixedTopHeader {
    min-width: 1576;
    z-index: 999;
  }
}

 @media screen and (max-width: 1420px) {
  .fixedheader {
    overflow: auto; 
    min-width: 1420px;
  }
}


@media screen and (max-width: 1050px) {
  .fixedfooter {
    overflow: auto; 
    min-width: 1420px;
  }
}

@media screen and (max-width: 1000px) {
  .fixedbody {
    overflow: auto; 
    min-width: 1420px;
  }
}



.fixedheader {
  overflow: auto; 
  min-width: 1420px;
}

.nav-link {color: white;}
.nav-link:hover {color: rgb(216, 216, 216);}
.nav-linkOri {color: rgb(180, 177, 177);}
.nav-linkOri:hover {color: rgb(99, 98, 98);}
ul {
  list-style-type: none;
}

.taisolbutt {
  background: url(./assets/images/common01.jpg) ;
  background-repeat: repeat-y;

}


